<!-- Cathy Cai and Emily Lee - CaiLee Cosmetics
     SoftDev1 pd6
     K15 -- Oh yes, perhaps I do...
     2018-10-03 -->

<!DOCTYPE html>
<html>
  
  <title>
    {% block title %}
    Login
    {% endblock %}
  </title>
  
  <head>
    {% block head %}
    Login: <br><br>
    {% endblock %}
  </head>
  
  <body>
    {% block body %}

    <!-- access flashed messages and display them -->
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
    <i>{{each}}</i>
    <br><br>
    {% endfor %}
    {% endblock %}
    {% block content %}

    <!-- login -->
    <form action="/welcome" method="POST">
      Username: <input type="text" name="user"><br>
      Password: <input type="password" name="pass"><br>
      <input type="submit" value="Submit">
    </form><br>
    
    {% endblock %}
    {% block footer %}
    &copy; Copyright 2018 by Emily Lee and Cathy Cai
    {% endblock %}
    
  </body>
  
</html>
